# intltool-update
po/xarchiver.pot

# configure
.deps/
Makefile
config.h
config.log
config.status
libtool
po/Makefile.in
po/POTFILES
po/stamp-it
stamp-h1

# make
.libs/
po/.intltool-merge-cache
po/*.gmo
src/xarchiver
src/*.o
src/xdgmime/*.l[ao]
xarchiver.desktop
