
[Desktop Entry]
Name=Xarchiver
Version=0.4
Comment=A GTK+2 only archive manager
Comment[de]=Ein auf GTK+2 basierender Archivmanager
Comment[ru]=Менеджер архивов на GTK+2
Exec=xarchiver
Icon=xarchiver.png
Terminal=false
Type=Application
X-MultipleArgs=false
Categories=GTK;Application;Utility;
Encoding=UTF-8
StartupNotify=true
MimeType=application/x-arj;application/arj;application/x-bzip;application/x-bzip-compressed-tar;application/x-gzip;application/x-rar;application/x-rar-compressed;application/x-tar;application/x-zip;application/x-zip-compressed;application/zip;multipart/x-zip;application/x-7z-compressed;
